@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    :root {
      --background: 262.5 66.67% 95.29%;
      --foreground: 264.88 64.06% 25.1%;
      --card: 300 20% 99.02%;
      --card-foreground: 240 6.67% 2.94%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.92%;
      --primary: 255.85 48.62% 21.37%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 0% 100%;
      --secondary-foreground: 240 5.88% 10%;
      --muted: 240 4.76% 95.88%;
      --muted-foreground: 240 3.83% 46.08%;
      --accent: 240 4.76% 95.88%;
      --accent-foreground: 240 5.88% 10%;
      --destructive: 0 72% 50.98%;
      --destructive-foreground: 0 0% 98.04%;
      --border: 240 5.88% 90%;
      --input: 268.24 42.5% 84.31%;
      --ring: 240 5.03% 64.9%;
      --radius: 0.5;
    }
  
    .dark {
      --background: 240 10% 3.92%;
      --foreground: 0 0% 98.04%;
      --card: 240 10% 3.92%;
      --card-foreground: 0 0% 98.04%;
      --popover: 240 10% 3.92%;
      --popover-foreground: 0 0% 98.04%;
      --primary: 0 0% 98.04%;
      --primary-foreground: 240 5.88% 10%;
      --secondary: 240 3.7% 15.88%;
      --secondary-foreground: 0 0% 98.04%;
      --muted: 240 3.7% 15.88%;
      --muted-foreground: 240 5.03% 64.9%;
      --accent: 240 3.7% 15.88%;
      --accent-foreground: 0 0% 98.04%;
      --destructive: 0 62.03% 30.98%;
      --destructive-foreground: 0 0% 98.04%;
      --border: 240 3.7% 15.88%;
      --input: 240 3.7% 15.88%;
      --ring: 240 4.88% 83.92%;
      --radius: 0.5;
    }
  }
  
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}